#form-area {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  font-size: 1rem;
  position: absolute;
  background-color: rebeccapurple;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #form-input {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      input {
        display: inline-block;
        padding: 0.5em 0.5em;
        margin: auto 1em;
        color: black;
        font-size: 2em;
        font-weight: 500;
        border: none;
      }
      label {
        font-size: 2em;
      }
    }
    #weather-form-button {
      display: block;
      margin: 1em;
      padding: 0.5em 1em;
      font-size: 2em;
      border-radius: 5px;
      font-weight: 500;
      border: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }
}

#locationAddedTillNow {
  background-color: white;
  color: rebeccapurple;
  border-radius: 0.5rem;
  overflow: auto;
  max-height: 30vh;
}

.locationsAdded {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  div {
    width: 90%;
    font-size: 2rem;
    margin-right: 20rem;
  }
  form input {
    font-size: 1rem;
  }
}

.icon {
  margin: auto 0.2em;
  padding: 0.5em 0em;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.2, 1.2);
  }
}
.iconLocations {
  color: rebeccapurple;
}
